<div class="page">
    <nav class="sidebar">
        <h2 class="title"> Sidebar </h2>
        <hr class="divider">
        <ui>
            <a href="#"> <li>  <img src="img/Dashboard/UL/vector.png" alt=""> Home  </li> </a>
            <a href="#"> <li>  <img src="img/Dashboard/UL/vector-1.png" alt=""> Ordeers </li> </a> 
            <a href="#"> <li>  <img src="img/Dashboard/UL/vector-2.png" alt=""> Products </li> </a> 
        </ui>
    </nav>

    <div class="content">
        <header class="header">
            <div class="wrapper">
                <div class="search-wrapper">
                    <div class="search-icon-wrapper">
                        <img class='search-icon' src="img/Dashboard/search_form/vector.png" alt="">
                    </div> 
                    <input class="search-form" action="post" placeholder="Search">
                    
                    <a href="#">
                        <div class="img-wrapper">
                            <img class="search-img" src="img/Dashboard/search_form/vector-1.png" alt="">
                        </div>
                    </a>
                </div>

                <div class="icons-wrapper">
                    <a href="">
                        <img src="img/Dashboard/search_icons/Frame-4405.png" alt="" class="icon">
                    </a>

                    <a href="">
                        <img src="img/Dashboard/search_icons/Frame-4406.png" alt="" class="icon">
                    </a>

                    <a href="">
                        <img src="img/Dashboard/search_icons/Frame-4407.png" alt="" class="icon">
                    </a>
                </div>
            </div>
        </header>

        <div class="body">
            <div class="cards">
                <div class="item-item">
                <div> <img src="img/Dashboard/cards/Frame 4411.png" alt="" class="icon"> </div>
                <div>
                    <h2 class="price"> $500.00 <img src="img/Dashboard/cards/arrow.png" alt=""></h2>
                    <p class="description"> Total Earning </p>
                </div>
                </div>
                <div class="item-item">
                    <div> <img src="img/Dashboard/cards/Frame 4411-1.png" alt="" class="icon"> </div>
                    <div>
                        <h2 class="price"> $961 </h2>
                        <p class="description"> Total Order </p>
                    </div>
                </div>
                <div class="item">
                    <div class="img-wrapper"> <img src="img/Dashboard/cards/Frame 4411-2.png" alt="" class="icon"> </div>
                    <div>
                        <h2 class="price"> $203k </h2>
                        <p class="description"> Total Income </p>
                    </div>
                </div>
                <div class="item">
                    <div class="img-wrapper"> <img src="img/Dashboard/cards/Frame 4411-3.png" alt="" class="icon"> </div>
                    <div>
                        <h2 class="price"> $203k </h2>
                        <p class="description"> Total Income </p>
                    </div>
                </div>
            </div>

            <div class="section-2">
                <div class="purchase-list">
                    <h2 class="title"> Purchase list </h2>

                    <hr class="divider">

                    <div class="info-wrapper">
                        <div class="info">
                            <p class="id"> ID437661 </p>
                            <p class="data"> May 11, 2023, 14:21 </p>
                        </div>
                        <div class="info">
                            <p class="product"> AirOn ProCam </p>
                            <p class="details"> 7/8 USB Type-C </p>
                        </div>
                        <div class="info">
                            <p class="price"> 132.32 EUR </p>
                            <p class="status-false"> Not paid </p>
                        </div>
                        <div class="info">
                            <p class="customer"> Customer </p>
                            <p class="email"> robin@com.de </p>
                        </div>
                    </div>

                    <hr class="divider">

                    <div class="info-wrapper">
                        <div class="info">
                            <p class="id"> ID437661 </p>
                            <p class="data"> May 11, 2023, 14:21 </p>
                        </div>
                        <div class="info">
                            <p class="product"> PHILIPS Essential </p>
                            <p class="details"> HD9200/90 </p>
                        </div>
                        <div class="info">
                            <p class="price"> 543 USD </p>
                            <p class="status-true"> Pay by Stripe </p>
                        </div>
                        <div class="info">
                            <p class="customer"> Customer </p>
                            <p class="email"> dima@com.ua </p>
                        </div>
                    </div>
                </div>

                <div class="payment">
                    <h2 class="title"> Payment </h2>

                    <hr class="divider">

                    <div class="choices">
                        <label>
                            <input type="radio" name="choice" value="option1">
                            <p> Credit card </p>
                        </label>
                        <label>
                            <input type="radio" name="choice" value="option2">
                            <p> Debit card </p>
                        </label>
                        <label>
                            <input type="radio" name="choice" value="option3">
                             <p> PayPal </p>
                        </label>
                    </div>

                    <div class="input-wrapper">
                        <div class="wrapp">
                            <label for=""> Name on card </label>
                            <input type="text">
                        </div>
                        <div class="wrapp">
                            <label for=""> Credit card number </label>
                            <input type="text">
                        </div>
                    </div>
                    <div class="input-wrapper">
                        <div class="wrapp">
                            <label for=""> Expiration </label>
                            <input type="text">
                        </div>
                        <div class="wrapp">
                            <label for=""> CVV </label>
                            <input type="text">
                        </div>
                    </div> 

                    <hr class="divider">

                    <div class="input-wrapper">
                        <div class="wrapp">
                            <label for="#"> Country </label>
                            <select name="#" id="#" >
                                <option value="error"> Choose... </option>
                                <option value="option1">Option 1</option>
                                <option value="option2">Option 2</option>
                                <option value="option3">Option 3</option>
                            </select>
                        </div>
                        <div class="wrapp">
                            <label for="#"> City </label>
                            <select name="#" id="#" >
                                <option value="error"> Choose... </option>
                                <option value="option1">Option 1</option>
                                <option value="option2">Option 2</option>
                                <option value="option3">Option 3</option>
                            </select>
                        </div>
                    </div>

                    <hr class="divider">

                    <a href="#">
                        <div class="flex-wrapper">
                            <button class="btn btn-primary"> Continue to checkout </button>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>