<body>
    <section class="first-section">
        <div class="page">
            <div class="title-content">
                <div class="titles">
                    <p class="slack-features"> Slack Features </p>
                    <h1 class="title"> One platform for your team and your work </h1>
                    <p class="description"> All the features of Slack work together so you can, too. </p>
                    <div class="buttons">
                        <button class="primary-btn"> Try for free </button>
                        <button class="secondary-btn"> See all features </button>
                    </div>
                </div>
                <div class="title-img">
                    <img src="img/hero-full-ui.jpg.png" alt="title-img">
                </div>
            </div>
            
            <div class="mini-logo">
                <img src="img/mini_logo/airbnb-logo.png.png" alt="" class="m-logo">
                <img src="img/mini_logo/target-logo.png.png" alt="" class="m-logo">
                <img src="img/mini_logo/uber.png.png" alt="" class="m-logo">
                <img src="img/mini_logo/logo-onemedical.png.png" alt="" class="m-logo">
                <img src="img/mini_logo/logo-newscorp.png.png" alt="" class="m-logo">
                <img src="img/mini_logo/us-department-of-veteran-affairs.png.png" alt="" class="m-logo">
                <img src="img/mini_logo/intuit.png.png" alt="" class="m-logo">
                <img src="img/mini_logo/logo-sonos.png.png" alt="" class="m-logo">
            </div>
        </div>    
    </section>

    <section class="second-section">
        <div class="page">
            <div class="bc-div">
                <div class="title-div">
                    <h2 class="secondary-title"> Work more easily with everyone </h2>
                    <p class="secondary-description"> Stay on the same page and make decisions faster by bringing all of your work communication into one place. </p>
                </div>
                <div class="img-div">
                    <img src="img/img-work-easily.png.png" alt="">
                </div>
            </div>

            <div class="pannels-wrapper">
                <div class="item-item">
                    <img src="img/svg/svg.c-feature-tile--icon.png" alt="" class="svg-icon">
                    <h2 class="pannel-title"> Slack Connect </h2>
                    <p class="pannel-desctiption"> Collaborate with teams at other companies the same way you do with teams at your own. </p>
                    <img class="arrow" src="img/svg/pseudo.png" alt="">
                </div>
                <div class="item">
                    <img src="img/svg/svg.c-feature-tile--icon-1.png" alt="" class="svg-icon">
                    <h2 class="pannel-title"> Channels </h2>
                    <img class="arrow" src="img/svg/pseudo.png" alt="">
                </div>
                <div class="item">
                    <img src="img/svg/svg.c-feature-tile--icon-3.png" alt="" class="svg-icon">
                    <h2 class="pannel-title"> Huddles </h2>
                    <img class="arrow" src="img/svg/pseudo.png" alt="">
                </div>
                <div class="item">
                    <img src="img/svg/svg.c-feature-tile--icon-5.png" alt="" class="svg-icon">
                    <h2 class="pannel-title"> Clips </h2>
                    <img class="arrow" src="img/svg/pseudo.png" alt="">
                </div>
                <div class="item">
                    <img src="img/svg/svg.c-feature-tile--icon-2.png" alt="" class="svg-icon">
                    <h2 class="pannel-title"> Canvas </h2>
                    <img class="arrow" src="img/svg/pseudo.png" alt="">
                </div>
                <div class="item">
                    <img src="img/svg/svg.c-feature-tile--icon-4.png" alt="" class="svg-icon">
                    <h2 class="pannel-title"> Messaging </h2>
                    <img class="arrow" src="img/svg/pseudo.png" alt="">
                </div>
                <div class="item">
                    <img src="img/svg/svg.c-feature-tile--icon-6.png" alt="" class="svg-icon">
                    <h2 class="pannel-title"> Accessibility </h2>
                    <img class="arrow" src="img/svg/pseudo.png" alt="">
                </div>
            </div>

            <div class="sbc-div">
                <div class="second-title-div">
                    <h2 class="title"> What you need, when you need it </h2>
                    <p class="description"> Spend less time shuffling tabs with a comprehensive message archive and all your work tools at your fingertips. </p>
                </div>

                <div class="img-div">
                    <img src="img/img-what-you-need.jpg.png" alt="">
                </div>
            </div>

            <div class="spannels-wrapper">
                <div class="item-item">
                </div>
                <div class="item-item">
                    <img src="img/svg/svg.c-feature-tile--icon7.png" alt="" class="svg-icon">
                    <h2 class="pannel-title"> Apps and Integrations </h2>
                    <p>Streamline work by connecting Slack with other services like Google Drive, Office 365 and over 2,200 more.</p>
                    <img class="arrow" src="img/svg/pseudo.png" alt="">
                </div>
                <div class="item-item">
                    <img src="img/svg/svg.c-feature-tile--icon-8.png" alt="" class="svg-icon">
                    <h2 class="pannel-title"> Channels </h2>
                    <p>Automate routine actions and communication, so you can get back to the kind of work only humans can do.</p>
                    <img class="arrow" src="img/svg/pseudo.png" alt="">
                </div>
                <div class="item">
                    <img src="img/svg/svg.c-feature-tile--icon-9.png" alt="" class="svg-icon">
                    <h2 class="pannel-title"> Channels </h2>
                    
                    <img class="arrow" src="img/svg/pseudo.png" alt="">
                </div>
                <div class="item">
                    <img src="img/svg/svg.c-feature-tile--icon-10.png" alt="" class="svg-icon">
                    <h2 class="pannel-title"> Channels </h2>
                    <img class="arrow" src="img/svg/pseudo.png" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="third-section">
        <div class="deliveroo">
            <img src="img/img-deliveroo.jpg.png" alt="">
            <div class="text-wrapper">
                <p class="description">
                    “The thing that keeps us connected
                    the most is Slack. It’s a very
                    immediate and straightforward
                    method of communication, and
                    really the only channel that people
                    prefer and enjoy using.”
                </p>
                <img src="img/mini_logo/deliveroo.png.png" alt="" class="logo">
                <p class="ps"> Will Sprunt, CIO, Deliveroo </p>
            </div>
        </div>

        <div class="cards-section">
            <h2 class="title"> Explore more about working in Slack </h2>
            <div class="cards-wrapper">
                <div class="item">
                    <img src="img/slack-101.jpg.png" alt="">
                    <p class="theme"> Slack Tutorials </p>
                    <h2 class="title"> Slack 101 </h2>
                    <p class="svg-text"> Learn more </p>
                    <img src="img/svg/pseudo1.png" alt="" class="arrow">
                    </div>
                <div class="item">
                    <img src="img/slack-vs-email.png.png" alt="">
                    <p class="theme"> Slack vs. Email </p>
                    <h2 class="title"> An easier, more organized way to work </h2>
                    <p class="svg-text"> Learn more </p>
                    <img src="img/svg/pseudo1.png" alt="" class="arrow">
                    </div>
                <div class="item">
                    <img src="img/fastly-shared-channels-wow-enterprise-customers.jpg.png" alt="">
                    <p class="theme"> Customer Stories </p>
                    <h2 class="title"> How Fastly uses Slack Connect to wow enterprise customers </h2>
                    <p class="svg-text"> Learn more </p>
                    <img src="img/svg/pseudo1.png" alt="" class="arrow">
                    </div>
            </div>
        </div>
    </section>
</body>