{{!-- 
Це код container файлу для summary сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}


    <main>
        <section>
                {{>title title=summary.title.name big=summary.title.big }}
            <div>
                <p>
                    {{summary.text}}
                </p>
            </div>
        </section>

        <section>
            <div>
                {{>title title=experience.title.name big=experience.title.big}}
            </div>
            <div>
                <p>
                    {{experience.text}}
                </p>
            </div>
        </section>
    </main>

    {{> footer}}    

{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}
