<main>
    <div>
        <h1 class="text-center"> H1 Heading </h1>
        <p class="text-center text-uppercase"> Paragraph </p>
        <section class="card">
            <div class="card-body">
                <p class="display-6 text-end">Display 6</p>
                <h2 class="text-end">H2 Heading</h2>
                <div>
                    <button class="btn btn-outline-info">info</button>
                </div>
            </div>
            
            <br>

            <p class="display-5"> Display 5 Advantage </p>

            <section class="card">
                <div class="card-body">
                    <p class="display-4"> Display 4 efficiency </p>
                    <h6> H6 Heading </h6>
                    <p> Paragraph </p>
                    <div>
                        <button class="btn btn-outline-warning"> Warning </button>
                    </div>
                </div>
            </section>

             <br>

            <section class="card">
                <div class="card-body">
                    <p class="display-4 text-center"> Display 4 innovation </p>
                    <h6 class="text-center"> h6 Heading </h6>
                    <p class="text-center"> Paragraph </p>
                    <div>
                        <button class="btn btn-outline-warning"> Warning </button>
                    </div>
                </div>
            </section>

            <br>

            <section class="card">
                <div class="card-body">
                    <p class="display-4 text-end"> Display 4 collaboration </p>
                    <h6 class="text-end"> h6 Heading </h6>
                    <p class="text-end"> Paragraph </p>
                    <div>
                        <button class="btn btn-outline-warning"> Warning </button>
                    </div>
                </div>
            </section>

            <br>

            <p class="display-5"> Display 5 agreement </p>
            <section class="card">
                <div class="card-body">
                    <h5> H5 Heading </h5>
                    <hr>
                    <p> Paragraph </p>
                    <div>
                        <button class="btn btn-success"> Success </button>
                    </div>
                </div>
            </section>
        </section>
    </div>  
</main>