<main>
    <section class="card">
        <div class="card-body">
            <h1> H1 Heading </h1>
            <p> Paragraph </p>
            <div><button class="btn btn-primary"> button </button> </div> <br>
            <div> <button class="btn btn-outline-primary"> button </button> </div>
        </div>
    </section>

    <br>

    <section class="card">
        <div class="card-body">
            <h2> H2 Heading second </h2>
            <p> Paragraph </p>
            <div><button class="btn btn-secondary"> button </button> </div> <br>
            <div> <button class="btn btn-outline-secondary"> button </button> </div>
        </div>
    </section>

    <br>

    <section class="card">
        <div class="card-body">
            <h3> H3 Heading second </h3>
            <p> Paragraph </p>
            <div><button class="btn btn-dark"> button </button> </div> <br>
            <div> <button class="btn btn-outline-dark"> button </button> </div>
        </div>
    </section>

    <br>

    <section class="card">
        <div class="card-body">
            <p class="display-1">Display 1 nested</p> 
            <div>
                <p class="display-4">Display 4 children</p>  
                <p> Paragraph </p>
                <button class="btn btn-outline-warning"> Warrning </button>
            </div>
        </div>
    </section>

    <hr>

    <p class="text-uppercase"> Paragraph </p>
    <p class="text-lowercase"> Paragraph </p>    

    <a href="#" class="btn btn-link">Link</a>
    <section class="card">
        <div class="card-body">
            <ul>
                <li> 
                    <button class="btn btn-link"><a href="#"> Link </a></button>
                </li>
                <li> 
                    <button class="btn btn-link"><a href="#"> Link </a></button>
                </li>
            </ul>
        </div>
    </section>
</main>