<section>
        <a href="/summary"> Summary </a> 
          
        ---

        <a href="/education"> Education </a>

        ---

        <a href="/skills"> Skills </a>

        ---

        <a href="/work"> Work </a>

        --- 

        <a href="/person"> Person </a>
</section>