<section>
        <a href="/summary"> Summary </a> 
          
        ---

        <a href="/education"> Education </a>

        ---

        <a href="/skills"> Skills </a>

        ---

        <a href="/work"> Work </a>

        --- 

        <a href="/person"> Person </a>

        ---

        <a href="/bio"> Biography </a>

        ---
        
        <a href="/program"> Program </a> 

        ---

        <a href="/web"> Web </a>

        ---

        <a href="/js"> JS </a>

        <br> ---

        <a href="/car"> Car </a>

        ---

        <a href="/mac"> Mac </a>

        ---

        <a href="/facebook"> Facebook</a>

        ---

        <a href="/task21"> task 2.1 </a>
</section>