{{!-- 
  Це леяут по замовчюванню, котрий вже містить базову структуру HTML документа
  І котрий обгортає код container файлів для будь-яких ендпоїнтів
--}}
<!DOCTYPE html>
<html>

  <head>
    <title>
      Resume-Pet
    </title>
    <meta charset='utf-8' />
    <link href='css/index.css' rel='stylesheet' />
  </head>

  <body>

    <header>
        <div>
            <h1> Dmytro Ivanov | Resume </h1>
        </div>
        <div>
            <b> Junior Fullstack JS Developer </b>
        </div>
            <div>
            <address>
                {{address}}
            </address>
        </div>
        <br>
        <hr>

        <div>
            <em>
                {{salary}}
            </em>
        </div>
        <br>
        <hr>
    </header>

    {{> nav}}
    {{!  ↓  ця кострукція показує куди шаблонізатору треба вставляти код з container файлу   --}}
    {{{body}}}
    
  </body>

</html>